<%- include('header.ejs'); %>
        <title>My Photo Blog</title>
    </head>

    <form action="/submit">
        <input type="text" name="title" id="">
        <input type="text" name="body" id="">
        <input type="file" name="image" id="">
        <button type="submit">Upload</button>
    </form>
<%- include('footer.ejs'); %>