h1, h2, footer {
    display: block;
    margin: auto;
    text-align: center;
    padding: 1em;

}

label {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.field-with-label {
    display: block;
    margin: auto;
}

.field {
    margin-left: 75px
}

img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 600px;
    padding: 1em;
}

p {
    display: block;
    margin: auto;
    width: 600px;
    padding: 1em;
}